.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 10px;
}
.ipt-title {
  border: none;
  outline: none;
  height: 40px;
  background-color: var(--google-light-white);
}
.ipt-desc {
  border: none;
  outline: none;
  background-color: var(--google-light-white);
  margin: 5px 0px;
  max-width: 100%;
}
.ipt-file-container {
  border: none;
  outline: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
